{% extends 'talk/base.html' %}
{% block content %}
<style>
    @font-face {
        font-family: 'GowunDodum-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
</style>
<div style="padding-right: 5%;padding-left: 5%; width: 100%;">
    <!-- 사용자오류 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert" style="font-family:'GowunDodum-Regular';width: 100%; ">
        {% for message in messages %}
            <strong>{{ message.tags }}</strong>
            <ul><li>{{ message.message }}</li></ul>
        {% endfor %}
        </div>
        {% endif %}
    <div style="width: 90%;"> <!-- 추천영역 -->
        <p style="font-size: larger;"> ❤ {{question.voter.count}}</p>
        
        
</div>
    <h2 class="border-bottom py-2" style="font-family:'GowunDodum-Regular'">{{ question.subject }}</h2>


    <div class="row my-3">
        <div class="card-body" style="font-family:'GowunDodum-Regular'">
            <div class="card-text" style="white-space: pre-line;" style="font-family:'GowunDodum-Regular'">{{ question.content }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2 text-left">
                    <div class="mb-2">{{ question.author.username }}</div>
                    <div>{{ question.create_date }}</div>
                </div>
            </div>
            {% if request.user == question.author %}
            <div class="my-3">
                <a href="{% url 'talk:question_modify' question.id  %}" 
                class="btn btn-sm btn-outline-secondary" style="font-family:'GowunDodum-Regular'">수정</a>
                <a href="#" class="delete btn btn-sm btn-outline-secondary"
        data-uri="{% url 'talk:question_delete' question.id  %}" style="font-family:'GowunDodum-Regular'">삭제</a>
                </div>
                {% endif %}
            </div>
        </div>
    <a href="#" data-uri="{% url 'talk:vote_question' question.id  %}"
            class="recommend btn btn-secondary btn-block my-1" style="font-family:'GowunDodum-Regular';float:left ;margin-bottom: 15px;" >추천</a>
    <div style="padding-top: 10%;width: 100%;">
        <h5 class="border-bottom my-3 py-2" style="font-family:'GowunDodum-Regular';">{{question.answer_set.count}}개의 답변이 있습니다.</h5>
    </div>
    {% for answer in question.answer_set.all %}
    <div class="card my-3">
        <div class="card-body" style="font-family:'GowunDodum-Regular'">
            <div class="card-text" style="white-space: pre-line;" style="font-family:'GowunDodum-Regular'">{{ answer.content }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2 text-left">
                    <div class="mb-2">{{ answer.author.username }}</div>
                    <div>{{ answer.create_date }}</div>
                </div>
            </div>
            {% if request.user == answer.author %}
            <div class="my-3">
                <a href="{% url 'talk:answer_modify' answer.id  %}" 
                class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="#" class="delete btn btn-sm btn-outline-secondary " 
               data-uri="{% url 'talk:answer_delete' answer.id  %}">삭제</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <form action="{% url 'talk:answer_create' question.id %}" method="post" class="my-3">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
        {% for field in form %}
            {% if field.errors %}
            <strong>{{ field.label }}</strong>
            {{ field.errors }}
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        
        <textarea {% if not user.is_authenticated %}disabled{% endif %} name="content" id="content" class="form-control" rows="10" style="margin-bottom: 10px; font-family:'GowunDodum-Regular'"></textarea>
        
        <input type="submit" value="답변등록" class="btn bnt-lg btn-outline-secondary" style="font-family:'GowunDodum-Regular'" >
    </form>

</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
    $(".recommend").on('click', function() {
        if(confirm("정말로 추천하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}