{% load static %}
<!DOCTYPE html>
<html lang="ko">
<html>
    <head>
        <title>Y-돈츄</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
        <!-- pybo CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'mainstyle.css' %}">
        <link rel=" shortcut icon" href="/static/favicon.ico">
        <link rel="icon" href="/static/favicon.ico">
        <link rel="apple-touch-icon" href="/static/starrtt.png">
    </head>
    <style>
        @font-face {
            font-family: 'GowunDodum-Regular';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

    </style>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}

<footer>
                    
    <div class="sch_home_shortcut" id="HOME_SHORTCUT"style="border-top:1px solid rgb(168, 168, 168);">

        <div class="shs_item">
            <a href="{% url 'screen' %}" class="shs_link ITEM" data-code="menu.NEWS" data-clk="shortnew">
                <div class="shs_service_mw">
                    <picture>
                        <source media="false" class="ICON_DARK" srcset="https://s.pstatic.net/static/www/mobile/up/service/menu/20210614/news_icon_88x88_dark.png">
                        <img width="30" height="30" alt="" class="shs_service_m ICON" src="{% static 'mainem/home iconn.png' %}">
                    </picture>
                </div>
                
            </a>
        </div>
        <div class="shs_item">
            <a href="{% url 'king' %}" class="shs_link ITEM" data-code="menu.SHOPPING" data-clk="shortsho">
                <div class="shs_service_mw">
                    <picture>
                        <source media="false" class="ICON_DARK" srcset="https://s.pstatic.net/static/www/mobile/up/service/menu/20210614/shopping_icon_88x88_dark.png">
                        <img width="35" height="35" alt="" class="shs_service_m ICON" src="{% static 'mainem/people iconn.png' %}">
                    </picture>
                </div>
                
            </a>
        </div>
        <div class="shs_item">
            <a href="{% url 'cal:calendar' %}" class="shs_link ITEM" data-code="menu.DATA" data-clk="shortdat">
                <div class="shs_service_mw">
                    <picture>
                        <source media="false" class="ICON_DARK" srcset="https://s.pstatic.net/static/www/mobile/up/service/menu/20210614/data_icon_88x88_dark.png">
                        <img width="30" height="30" alt="" class="shs_service_m ICON" src="{% static 'mainem/calendar icon.png' %}">
                    </picture>
                </div>
                
            </a>
        </div>
        <div class="shs_item">
            <a href="{% url 'talk:index' %}" class="shs_link ITEM" data-code="menu.ENT" data-clk="shortent">
                <div class="shs_service_mw">
                    <picture>
                        <source media="false" class="ICON_DARK" srcset="https://s.pstatic.net/static/www/mobile/up/service/menu/20210614/ent_icon_88x88_dark.png">
                        <img width="30" height="30" alt="" class="shs_service_m ICON" src="{% static 'mainem/chat iconn.png' %}">
                    </picture>
                </div>
                
            </a>
        </div>
        <style>
            
            div {display: inline-block;}

        </style>
        

    </div>



</footer>
<p></p>
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- jQuery JS -->
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
</body>
</html>